<!-- Hero left/right -->
      <div class="{{ content.decoration.background }}">
          <div class="container flex px-6 py-4 mx-auto lg:h-128 lg:py-16 {{ content.variant }}">
              <div class="flex flex-col items-center w-full {{ content.variant }} lg:w-1/2">
                  <div class="max-w-lg">
                      {{ content.headline|raw }}
                      {{ content.text|raw }}
                      <div class="mt-6">
                          {{ content.button|raw }}
                      </div>
                  </div>
              </div>

              <div class="flex items-center justify-center w-full h-96 lg:w-1/2">
                  {{ content.image|raw }}
              </div>
          </div>
      </div>